html, body {
    margin: 0;
    padding: 0;
    background: url('../images/dotsBG.png');
    font-family: 'Roboto Condensed', sans-serif;
}

/* common classes */

.global-padding {
    padding: 2%;
}
.global-radius {
    border-radius: 6px;
}
.global-vert-padding {
    padding: 3% 0;
}
.floated-right {
    float: right;
}
.floated-left {
    float: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.clearfix:after {
    clear: both;
    content: "";
    display: block;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.box-shadow {
    -webkit-box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 3px 0px rgba(0, 0, 0, 0.75);
}

/* --------------- */

.b-header {
    background-color: rgba(10, 55, 126, 0.5);
    position: relative;
    color: #FFF;
}

.b-header__nav {
    margin-bottom: 0;
}

.b-header__item {
    display: inline-block;
    background-color: rgba(17, 70, 154, 0.5);
    margin: 2% 0 0 2%;
    padding: 2%;
}

.b-forecast {
    background-color: rgba(0, 121, 101, 0.5);
    position: relative;
    color: #FFF;
}
.b-forecast__container {
    width: 40%;
    margin: 5%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
}
.b-forecast__title--font-large {
    font-size: 20px;
}
.b-forecast__container--font-xlarge {
    font-size: 30px;
}
.b-forecast__content {
    width: 100%;
    margin-top: 50px;
}
.b-forecast__content--half {
    width: 50%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
}
.b-forecast__container--font-xlarge {
    font-size: 36px;
    line-height: 52px;
}
.b-forecast__icon {
    font-size: 26px;
    line-height: 52px;
}

.b-footer {
    width: 100%;
    height: 30px;
    background-color: rgba(19, 43, 79, 1);
    position: fixed;
    bottom: 0;
    color: #FFF;
}